:root {
--xiketic: #07020dff;
--upsdell-red: #b10f2eff;
--pewter-blue: #73a2abff;
--lemon-curry: #ca9f02ff;
--old-gold: #bdb10fff;
--brick-red: #d1495bff;
--dark-purple: #290025ff;
--eerie-black: #222222ff;
--olive-drab-7: #483d03ff;
--blue-violet-color-wheel: #610f7fff;
}