.legend-item {
    display: flex;
    padding: 0;
    margin: 0;
    justify-items: space-between;
}

.legend-item-swatch {
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}

.legend-item-text {
    padding: 0;
    padding-left: 1rem;
    margin: 0;
}